*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    animation: fadeInAnimation ease-in 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body{
    background-image: url('images/mikasa.gif');
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    width: 100%;
}

h1{
    font-family: "Karla";
    margin-top: 30px;
}
.start-btn{
    background-color: aliceblue;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: black;
    margin: 40px;
    font-size: 20px;
    border-radius: 8px;
    transition: all ease-in 0.2s;
}
.start-btn:hover{
    background-color:black;
    border: 2px solid rgb(196, 181, 196);
    color: white;
}

.app{
    padding: 10px;
    display: flex;
    background: rgb(0, 0,0,0.5);
    width: 800px;
    max-width: 800px;
    max-height: fit-content;
    justify-content: center;
    border-radius: 10px;
    margin: 35px auto;
    animation: fadeInAnimation ease-in 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.ques-ans{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.para{
    font-family: "Barlow";
    padding: 20px;
    text-align: center;
    font-size: 25px;
    max-width: 100%;
    margin-top: 10px;
}

.ques-img-div{
    text-align: center;
}
.ques-img{
    max-width: 300px;
    object-fit: cover;
    object-position: center;
    max-height: 180px;
    margin: 10px auto;
    
}

.btn{
    font-family: "Karla";
    font-weight: bold;
    width: 450px;
    margin: 18px auto;
    height: 35px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color ease-in 0.2s;
    font-size: 15px;
}
.correct{
    background-color: green;
    color: white;
}
.wrong{
    background-color: crimson;
    color: white;
}

.btn:hover:not([disabled]){
    background-color: black;
    color: white;
}
.start-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    margin: auto 10px;
    align-content: center;
}
.start-quiz img{
    width: 200px;
}
.button-div{
    display: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.next-button{
    font-family: 'Karla';
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    background-color: cadetblue;
    cursor: pointer;
    transition: all ease-in 0.3s;
    border: 2px solid white;
    animation: fadeInAnimation ease-in 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.next-button:hover{
    background-color: rgb(27, 73, 91);
    color:white;
}


.result-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.result-section img{
    width: 250px;
    border-radius: 5px;
    margin: 20px auto;
}

.score{
    font-family: 'Barlow';
    font-size: 30px;
    text-align: center;
}

.true-fan{
    font-family: 'Karla';
    font-size: 25px;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    margin: 14px;
    font-weight: bold;
    display: none;
}

.score-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restart{
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Barlow';
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: aliceblue;
    color :black;
    transition: all ease-in 0.2s;
    cursor: pointer;
    margin:15px;
}
.restart:hover{
    background-color: black;
    color: white;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.head h1{
    text-align: center;
}

@media screen and (max-width: 767px) {
    body {
        background-size: auto 100%; /* Adjusts the image height to cover the viewport height */
        background-position: top center; /* Adjusts the image position */
    }
}

@media screen and (max-width: 540px) {
    .app{
        width: 370px;
        max-height: fit-content;
        justify-content: center;
        margin: auto 5px;
    }
    body{
        height: 100vh;
    }
    .btn{
        width: 240px;
        text-align: center;
        height: 28px;
        font-size: 12px;
    }
    .next-button{
        padding: 8px 20px;
    }
    .ques-img{
        width: 200px;
    }
    .para{
        font-size: 20px;
    }
    .start-quiz{
        height: 70vh;
    }

    .start-btn{
        width: 100px;
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
    .head img{
        width: 200px;
    }
    .score{
        font-size: 22px;
    }
    .true-fan{
        font-size: 16px;
    }
    .restart{
        width: 130px;
        font-size: 15px;
    }
}